%h2
  Question

= form_for [@survey ,@question] do |q|
  = q.label :Question
  = q.text_field :description
  %br
  %h2
    Options
  %br
  = q.fields_for :options do |opt|
    = opt.label :Option
    = opt.text_field :description
    %br
  .actions
    = q.submit
