%h4
  =flash[:notice]
%h1
  Questions
%table{:class => 'table'}
  %tr
    %th Question
    - @question.each do |q|
      %tr
        %td= q.description
        %td= link_to "Show Question |", survey_question_path(@survey, q)
        %td= link_to "Edit Question |", edit_survey_question_path(@survey, q)
        %td= link_to "Destroy question", survey_question_path(@survey, q), method: 'delete', data: {confirm: 'Are you sure?'}
  %br
%br
%p
  = link_to "Create New Question |", new_survey_question_path(@survey)
  = link_to "Survey Home", surveys_path
%p{:class => 'position'}
  = link_to " Logout |", logout_path
