%h1
  Question:
  %br
= @question.description
%br
%h1
  Options:
%table{:border => "1", :class => 'table'}
  %tr
    - @option.each do |op|
      %td= op.description
%br
%p
  = link_to 'Delete Question |', survey_question_path(@survey, @question), method: 'delete', data: {confirm: 'Are you sure?'}
  = link_to 'Question Index  |', survey_questions_path(@survey)
  = link_to 'Survey Home', surveys_path
%p{:class => 'position'}
  = link_to " Logout |", logout_path
