%h4
  = flash[:notice]
  = flash[:error]
%h2
  Login
%h1
  Login page

= form_tag session_create_path do
  = label_tag :user_name
  = text_field_tag :email
  %br
  = label_tag :password
  = password_field_tag :password
  %br
  = submit_tag 'Login'
  %br

New user? please register first
%br
= link_to "Register", register_new_path
