%h1
  Survey details

%table{:class => 'table'}
  %th
    survey name
    %tr
      %td= @survey.name
  %th
    Survey type
    %tr
      %td= @survey.survey_type
  %th
    conducted on date
    %tr
      %td= @survey.conducted_on
  %th
    count no of people
    %tr
      %td= @survey.count_people
%br
%p
  =link_to "Survey Home |", surveys_path
  =link_to "Edit Survey |", edit_survey_path
  =link_to "Questions List", survey_questions_path(@survey.id)
%p{:class => 'position'}
  = link_to " Logout |", logout_path
